@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <h1>TECH | S P O T</h1> 
</div>

<div class="container">
    <h2>Tech Review Website </h2>

    <div class="row">
        <div class="col-sm-4">
            <!--One of three columns-->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus, sem vel volutpat fringilla, nibh nulla tristique nisl, faucibus varius ligula nulla quis massa.
            Etiam quis aliquam odio. Proin mollis bibendum ex suscipit pellentesque.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque nunc mi, cursus non elit sit amet, tincidunt luctus magna.
            Praesent nisi tellus, mollis nec congue quis, blandit ac ante. Maecenas blandit ac felis blandit ornare.
        </div>
        <div class="col-sm-4">
            <!--Two of three columns-->
            Mauris eu neque in velit dignissim pellentesque. Proin sapien libero, faucibus sed lorem ut, iaculis dapibus velit. Aliquam dignissim ex sit amet risus commodo porta. Curabitur tempus lacus vel leo dictum accumsan. Nullam tempus pellentesque ultricies. Mauris tincidunt at neque ac venenatis. Nulla pellentesque magna in elit tincidunt, ut hendrerit eros vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas pellentesque magna nulla, eget lobortis lorem egestas id. Suspendisse facilisis mattis ante id consequat.
        </div>
        <div class="col-sm-4">
            <!--Three of three columns-->
            Pellentesque sollicitudin risus et quam pharetra, sit amet luctus tortor elementum. Nam tincidunt eros non gravida faucibus. Aenean maximus diam ut nisl imperdiet, in finibus orci sollicitudin. Nulla facilisi. Pellentesque gravida ligula velit, sit amet lacinia sapien elementum et.
        </div>
    </div>
</div>